@use "../../colors/colors.scss";


.about__container{
  margin: auto;
  max-width: 800px;
  align-self: center;
  //min-width: 800px;
  //max-height: 800px;
 justify-content: center;
  font-weight: 300;
}
