@use "../../colors/colors.scss";
.main__container {
   
    padding: 30px;
    display: flex ;
    justify-content: center;
    //overflow: s;
    
    .wrapper{
        li:hover{
          background-color: inherit;
        }
        .modal-content{
         display: flex;
        }
        .control .modal *{ 
          color: inherit;
          background-color: colors.$color-bg;

          

          input, label{
            span{
              font-size: 20px;
              background-color: rgba(0, 0, 0, 0); 
              z-index: 5;
              display: block;
              padding-bottom: 40px;
              position: absolute;
              //height: 40px;
              padding: 0 14px 40px 11px ;
              //padding: auto;
              
            }
           
          
            //display:block;
        }
        .span-after{
          
          margin-top: 40px;
        }
        }
        .radioButtons{
          width: 500px;
         margin: auto;
        

        }
       
        max-height: none;
        max-width: 880px;
        height: none;
        display: flex ;
        width: 100%;
        img {
            border-radius: 7px;
            max-width: 290px;
            //object-fit: cover;
            height: 100%;
            width: 100%;
            justify-self: left;
          }

          .item__about-Film {
            padding: 0 10px 0 0;
          
            font-size: 25px;
            font-family: "SF Pro Display", "SFPRO_d", sans-serif;
            .row__title {
                max-width: 80%;
                float: left;
              }
            .row__year {
            filter: opacity(50%);
            float: right;
            }
          }
        
    .w{
        display: flex;
    }      
    }
   .wrapp__button{
     display: flex;
     justify-content: space-evenly;
    .item__want-button, .item__watched-button{
      background-color: colors.$color-sb ;
  }

    }
   
  }
.info tr{
    border-bottom: 2px solid rgba(65, 65, 65, 1);
    //border-color: aliceblue;
}
.info tr:last-child{
  border: 0;
}
.row .col{
    padding: 0  ;
} 
table.striped > tbody > tr:nth-child(odd) {
    
    //background-color: colors.$color-search;
    background-color: rgba(242, 242, 242, 0.1);
}  
.actors{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    //display: inline-blocks;
    //height: 52.5px;
    max-width: 350px;
}
hr{
  width: 100%;
}
.stat, .overview, .reviews{
  .heading{
    font-size: 20px;
    margin: 0 0 10px 10px;
  }
  .rating, .user-review{
   
    min-width: 13%;
    background-color: colors.$color-sb;
    margin: 5px;
    border-radius: 5px;
    .rating-title{
     // padding: 0 40px;
    }
    .rating-count{
     
    }
  }
  width: 100%;
}

.reviews{
    // .heading{
    //   width: 100%;
    //   display: inline-block;
    // }
    // display: flex;
    // justify-items: left;
  .user-review{
    max-width: 100%;
 // justify-self: left;
    .user-login{
      font-size: 15px;
      display: flex;
      justify-content: space-between;
      margin: 5px;
      margin-left: 10px;
      .user-rating{
      
        margin-right: 10px;
        }
    }
    .review{
      padding: 10px;
    }
  }
}