@use "../../colors/colors.scss";

.navbar {
  background: colors.$color-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left{
  display: flex;
  width: 200px ;
  .logo {
   
    display: block;
    margin-left: 10px;
    
    //vertical-align: middle;
  }
  .logo-text{
    transition: 0.6s;
    margin-left: 10px;
    opacity: 0;
   
    font-size: 20px;
    //display: flex;
  }
  .logo:hover~ .logo-text{
    transition: 0.6s;
    opacity: 100;
    
  }
}


body .input-field {
  font-size: 14px;
  height: 80%;
  width: 50%;
  form {
    background-color: colors.$color-search;
    display: flex;
    input {
      height: 50px !important;
      margin: 0 !important;
      border: none;
      outline: none;
      color: colors.$color-text;
    }
    input:focus {
      color: colors.$color-blue !important;
      background-color: colors.$color-search !important;
    }
  }

  .button {
    height: 50px !important;
    padding: 0 15px;
    background: colors.$color-text;
    border: none;
    color: colors.$color-text;
  }
}
form .button:hover {
  transition: all 260ms ease-out;
  background-color: colors.$color-blue;
}
li:hover {
  a {
    color: colors.$color-blue;
    transition: all 260ms ease-out;
  }
  background: colors.$color-search;
  transition: all 260ms ease-out;
}
